header {
    text-align: center;
    margin-top: 10%;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

textarea {
    resize: none;
    min-height: 200px;
}

button {
    margin-top: 20px;
}

.resultat {
    margin-top: 20px;
    font-size: 1.3rem;
}

footer {
    position: fixed;
    bottom: 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
}